<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


</head>
<body class="bg-gray-900 p-5">
    
    <div class="mx-auto bg-gray-700 p-4 item-center justify-center m-4 w-fit-content flex  text-white">
        <div>
            <h3 class="text-white font-semibold text-2xl flex justify-center">Create account</h3>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="text-lg bg-blue-100 p-2 rounded-lg text-blue-400">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
            </div>
            {% endif %}
            {% endwith %}
        <form action="/register", method="POST" >
            <div class="text-gray-800">
                <input type="text" class="w-full text-gray-800  m-2 rounded-lg p-2" name="username" required placeholder="username">
                
                <input type="email" class="w-full text-gray-800 m-2 rounded-lg p-2" name="email" id="" required placeholder="email">
                <input type="password" class="w-full text-gray-800 m-2 rounded-lg p-2" name="password" required placeholder="password">
                <input type="password" class="w-full text-gray-800 m-2 rounded-lg p-2" name="confirm_password" required placeholder="confirm password">
                <input type="tel" class="w-full text-gray-800 m-2 rounded-lg p-2" name="phone" id="" required placeholder="phone">
            </div>
            <div class="justify-between items-center flex">
                <input type="submit" class="bg-blue-500 p-2 rounded-lg ml-4  w-1/4 mt-3" value="Register">
                
            </div>

            <div class="flex justify-center">
                 <h3 class="text-white m-2">Already have an account?</h3>
                <a href="/login" class="w-1/2 flex justify-center rounded-lg p-2 text-white bg-green-500">Login</a>
             </div>

        </form>
        </div>
    </div>


</body>
</html>